/*== 
 * React & TailwindCSS Portfolio Main CSS File
 * Powered by: @realstoman
*/

body {
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  color: #5a5a5a;
  background-color: #faf4eb;
}

/* Fonts */
@font-face {
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.happy-monkey-regular {
  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
}

.font-general-variable {
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.font-general-variable-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-general-extralight {
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.font-general-extralight-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.font-general-light {
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

2 styles

Italic: 0
Weight: 200 – 800
Web
Android
iOS
Flutter

<link>

@import
Embed code in the <head> of your html

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lato:wght@200..800&display=swap" rel="stylesheet">
Lato: CSS classes

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.font-general-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-general-regular {
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.font-general-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-general-medium {
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.font-general-medium-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.font-general-semibold {
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.font-general-semibold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.font-general-bold {
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.font-general-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/* Scroll to top style */
.scrollToTop {
  @apply bg-indigo-600;
  @apply text-white;
  position: fixed;
  width: 100%;
  align-items: center;
  height: 20px;
  justify-content: center;
  z-index: 999;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.9;
}

.scrollToTop:hover {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
