.dog-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
}

.dog {
  width: 160px;
  height: 186px;
  position: relative;
}

/* Ears - Positioned behind the head */
.dog-ears {
  width: 80px;
  height: 50px;
  position: absolute;
  z-index: 0; /* Ensure ears are behind the head */
  top: 25px;
  border-radius: 150px 0 150px 0;
  background: radial-gradient(circle at top, #d58b4e, #efc092);
}

.dog-ears:after {
  content: "";
  width: 50px;
  height: 30px;
  position: absolute;
  top: 8px;
  left: 20px;
  border-radius: 150px 0 150px 0;
  transform: rotate(-176deg);
  background-color: #fee2d2;
}

.ears-left {
  left: -5px;
  transform: rotate(-105deg);
}

.ears-right {
  right: 0;
  transform: rotate(-22deg);
}

/* Head */
@keyframes head {
  0%,
  30%,
  90%,
  100% {
    transform: rotate(0deg);
  }
  40%,
  80% {
    transform: rotate(-20deg);
  }
}

.dog-head {
  width: 100px;
  height: 90px;
  position: absolute;
  z-index: 5; /* Ensure head is above ears */
  top: 30px;
  left: calc(50% - 50px);
  background: radial-gradient(circle at top, #dba273, #d58b4e);
  border-radius: 50%;
  animation: head 6s linear infinite;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dog-head:before,
.dog-head:after {
  content: "";
  width: 79px;
  height: 50px;
  position: absolute;
  z-index: 5;
  top: 44px;
  background: radial-gradient(circle at top, #efc092, #d58b4e);
  border-radius: 50%;
}

.dog-head:before {
  left: -7px;
  transform: rotate(50deg);
}

.dog-head:after {
  right: -7px;
  transform: rotate(-49deg);
}

/* Eyes */
.dog-eyes {
  width: 10px;
  height: 16px;
  background-color: #000;
  position: absolute;
  top: 52px;
  left: 28px;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 33px 0px 0px #000;
}

.dog-eyes:after {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #fff;
  position: absolute;
  top: 4px;
  left: 3px;
  border-radius: 50%;
}

/* Nose */
.dog-nose {
  width: 16px;
  height: 10px;
  position: absolute;
  top: 8px;
  left: calc(50% - 8px);
  background-color: #000;
  border-radius: 50%;
}

/* Mouth */
.dog-mouth {
  width: 60px;
  height: 35px;
  background: radial-gradient(circle at top, #fee2d2, #f4a4ad);
  position: absolute;
  bottom: -15px;
  left: 20px;
  z-index: 10;
  border-radius: 50%;
}

.dog-mouth:after {
  content: "";
  width: 10px;
  height: 40px;
  background-color: #fee2d2;
  position: absolute;
  bottom: 30px;
  left: 24px;
  z-index: 10;
  border-radius: 20px;
}

/* Tongue Animation */
@keyframes tongue {
  0%,
  30%,
  90%,
  100% {
    height: 10px;
  }
  40%,
  80% {
    height: 20px;
  }
}

.dog-tongue {
  width: 20px;
  height: 10px;
  position: absolute;
  top: 24px;
  left: calc(50% - 10px);
  background: radial-gradient(circle at top, #f4a4ad, #d58b4e);
  border-radius: 0 0 10px 10px;
  animation: tongue 4s linear infinite;
}

/* Body */
.dog-body {
  width: 54px;
  height: 60px;
  position: absolute;
  top: 120px;
  left: calc(50% - 27px);
  background: radial-gradient(circle at top, #d58b4e, #efbf8e);
  border-radius: 49px 0 0 20px;
}

/* Foot */
.dog-foot {
  width: 20px;
  height: 13px;
  position: absolute;
  z-index: 5;
  bottom: -3px;
  left: 8px;
  background-color: #fce2d3;
  border-radius: 10px 10px 0 0;
  box-shadow: 33px 0 0 #fce2d3;
}

/* Tail Animation */
@keyframes tail {
  0% {
    transform: rotate(-47deg);
  }
  100% {
    transform: rotate(-57deg);
  }
}

.dog-tail {
  width: 10px;
  height: 50px;
  position: absolute;
  top: 120px;
  left: calc(50% - 45px);
  background: radial-gradient(circle at top, #ecc093, #d58b4e);
  transform: rotate(-47deg);
  border-radius: 10px 0 0 0px / 50px 0 0 0px;
  animation: tail 0.08s infinite alternate;
}

/* Ball */
.ball {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 0;
  right: 0px;
  border-radius: 50%;
  background-color: #6e64f0;
}
